h1, h2, h3, h4, h6, h6, p, div, input, textarea
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    line-height: 1em;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
}

strong 
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

input, textarea
{
    padding: 4px;
}

a
{
    color: #0066FF;
}